	  <!-- Main Footer -->
      <footer class="main-footer">
        <!-- To the right -->
        <div id="sessionTimer" class="pull-right hidden-xs">
          
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2018 <a href="/" class="text-black">GT Bay</a>.</strong> All rights reserved.
      </footer>